<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H57ZC00J87"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H57ZC00J87');
</script>
<!-- Google tag (gtag.js) -->

<header class="header">
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () { 
      const urlParams = new URLSearchParams(window.location.search);
      const clusterName = urlParams.get('CLUSTER_WILDCARD_URL');
      const projectName = urlParams.get('PROJECT');
      if (clusterName) {
        showCluster( clusterName );
      }
      else {
        showClusterForm();
      }

      if (projectName) {
        showProject( projectName );
      } else {
        showProjectForm();
      }
    } );


    function sliceCluster(clusterName){
      if (clusterName.length > 70) {
          return "..." + clusterName.slice(35);
      } else {
          return clusterName;
      }
    }

    function showCluster( clusterName ) {
      document.getElementById('navbar-form-empty').style.display = "none";
      document.getElementById('navbar-form-filled').style.display = "flex";
      document.getElementById('cluster_subdomain').textContent = sliceCluster(clusterName);
      document.getElementById('clusterfield2').value = clusterName;

    }

    function showClusterForm( clusterName ) {
      document.getElementById('navbar-form-empty').style.display = "flex";
      document.getElementById('navbar-form-filled').style.display = "none";
    }

    function gowithcluster() {
      elClusterInput = document.getElementById('clusterfield');
      elProjectInput = document.getElementById('projectfield2');

      // Remove Project from URL query parameters
      window.location.search = ('&CLUSTER_WILDCARD_URL=' + elClusterInput.value);
      // window.location.search = ('&CLUSTER_WILDCARD_URL=' + elClusterInput.value + '&PROJECT=' + elProjectInput.value);
    }

    function showProject( projectName ) {
      document.getElementById('navbar-form-project-empty').style.display = "none";
      document.getElementById('navbar-form-project-filled').style.display = "flex";
      document.getElementById('project').textContent = projectName;
      document.getElementById('projectfield2').value = projectName;
    }

    function showProjectForm( projectName ) {
      document.getElementById('navbar-form-project-empty').style.display = "flex";
      document.getElementById('navbar-form-project-filled').style.display = "none";
    }

    function gowithproject() {
      elProjectInput = document.getElementById('projectfield');
      elClusterInput = document.getElementById('clusterfield2');
      window.location.search = ('&CLUSTER_WILDCARD_URL=' + elClusterInput.value + '&PROJECT=' + elProjectInput.value);
    }

  </script>

  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://redhat-solution-patterns.github.io/" target="_blank"><img
          src="https://redhat-solution-patterns.github.io/solution-pattern-enhancing-applications/_/img/logo.png" height="40px" alt="Solution Patterns"></a>
      <a class="navbar-item" style="font-size: 14px; color: white" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">{{site.title}}</a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" id="navbar-form-empty">
          {{!-- <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span> --}}

          <form action="javascript:void(0);" onsubmit="gowithcluster();">
            <input size="40" id="clusterfield" type="text" placeholder="Enter the OpenShift ingress domain value">
            <input type="hidden" id="projectfield2" name="projectfield2" value="">
          </form>
        </div>

        <div class="navbar-item" id="navbar-form-filled" style="display: none;">
          {{!-- <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span> --}}
          <span class="navbar-text" style="font-size: 14px; background-color: #191919;" id="cluster_subdomain"></span>
          {{!-- <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span> --}}
        </div>

         {{!-- <div class="navbar-item" id="navbar-form-project-empty">
          <!-- Removing the Project text field and exclamation triangle -->
          <!-- <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i style="color: orange;"
              class="fa fa-exclamation-triangle" aria-hidden="true"></i></span> -->

          <form action="javascript:void(0);" onsubmit="gowithproject();">
            <!-- <input size="40" id="projectfield" type="text" placeholder="Enter Project Name"> -->
            <input type="hidden" id="clusterfield2" name="clusterfield2" value="">
          </form>
        </div> --}}

        {{!-- <div class="navbar-item" id="navbar-form-project-filled" style="display: none;">
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">|</span>
          <span class="navbar-text" id="project"></span>
          <span class="navbar-text" style="margin-left: 1rem; margin-right: 1rem;">&nbsp;<i onclick="recycle();" style="color: green;" class="fa fa-recycle" aria-hidden="true"></i></span>
        </div> --}}

        
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" style="font-size: 14px">Solution Patterns</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://red.ht/enhance-with-cdc" target="_blank" style="font-size: 14px">Adopt Change Data Capture for stack modernization</a>
            <a class="navbar-item" href="https://red.ht/enhance-with-eda" target="_blank" style="font-size: 14px">Enhancing Applications with Application Services</a>
          </div>
      </div>
      {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#" style="font-size: 14px">Other</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://redhat-gitops-patterns.io/" style="font-size: 14px" target="_blank">GitOps Solution Patterns</a>
            <a class="navbar-item" href="https://hybrid-cloud-patterns.io/" style="font-size: 14px" target="_blank">Hybrid Cloud Solution Patterns</a>
          </div>
      </div> --}}
      <a class="navbar-item" href="https://www.redhat.com/en/products/middleware" style="font-size: 14px" target="_blank">Red Hat Application Services</a>
      <a class="navbar-item" href="https://developers.redhat.com/middleware" style="font-size: 14px" target="_blank">Learn more</a>
    </div>
  </nav>
</header>